body{
    background-color: #EAF6F6;
}
hr{
    /* background-color: #EAF6F6; */
   /* border-style: dotted none none none;*/   /*clock wise*/
    /* height: 0.1px; */
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: gray;
    border-width: 5px;
}

h1{
    color: #9341df;
}

h3{
    color: #66BFBF;
}
td{
    text-align: center;
}
